.instruction{
    border: 1px solid #EE5007;
    border-radius: 5px;
    padding: 10px;
}

.instruction:hover{
    cursor: help;
    opacity: 0.7;
}

.response__item{
    border-radius: 5px;
    padding: 5px;
    margin: 5px;
    background-color: #edb096;
}

.response__item:hover{
    background: -webkit-linear-gradient(#f6996d,#e9d58e);
}

.calc__button{
    width: 97.5%;
    margin: 5px 20px 20px;
    height: max-content;
    background: #006E7F;
    color: white;
    border-radius: 4px;
    font-size: 1.5em;
    cursor: pointer;
}

.calc__button:hover{
    color: #F8CB2E;
    -webkit-box-shadow: 0px 14px 23px -14px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 14px 23px -14px rgba(0,0,0,0.75);
    box-shadow: 0px 14px 23px -14px rgba(0,0,0,0.75);
}

select,input{
    border-radius: 5px;
    color: rgb(38, 60, 60);
    background: rgb(200, 221, 221);
}

@media (max-width: 768px){
    .calc__button{
        width: 90%;
        font-size: 1.2em;
    }
    .response__item{
        width: 77%;
        margin-left: 20px;
        overflow-x: auto;
    }

    
}

